# Python
__pycache__/
*.pyc
*.pyo
*.pyd


# Environnement virtuel
Agent_venv/
venv/
.venv/

# Fichiers Python compilés
__pycache__/
*.pyc

# Database
*.db

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
*.log